:root {
    --indigo-dye: 3, 60, 84;
    --magenta-haze: 159, 47, 107;
    --middle-red: 255, 143, 112;
    --rich-black: 10, 10, 10;
    --silver-chalice: 173, 173, 173;
}

/***** Main Card Layout *****/

.col__card {
    padding: 2rem 0.5rem;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    height: 625px;
    margin: 0 auto;
    padding: 8px;
    border: 2px solid blue;
    border-radius: 50px;
    background-color: rgba(var(--rich-black));
}

.card__mat {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 98%;
    height: 98%;
    padding: 8px;
    border: 2px solid blue;
    border-radius: 50px;
    background-color: burlywood;
}

.card__body {
    width: 98%;
    height: 98%;
    border: 2px solid blue;
    border-radius: 50px;
    overflow: hidden;
    background-color: cadetblue;
}

.card__body * {
    width: 100%;
}

/***** Card Base Sections *****/

.card__hero {
    height: 60%;
    border: 2px solid pink;
    overflow: hidden;
    background-color: crimson;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__btn {
}

.card__summary {
    height: 30%;
    border: 2px solid red;
    background-color: chocolate;
    padding: 1rem;
    overflow-y: scroll;
}

.card__categories {
    background-color: bisque;
    height: 5%;
    display: flex;
}

.card__footer {
    height: 5%;
    background-color: darkorchid;
    display: flex;
    align-items: center;
}

/***** Card Overlay Content *****/

.card__overlay {
    position: absolute;
    border: 2px solid yellow;
    background-color: rgba(166, 186, 145, 0.347);
}

.card__overlay--role {
    display: flex;
    top: 0;
    left: 0;
    flex-direction: column;
    width: fit-content;
}

.card__overlay--languages {
    display: flex;
    right: 0;
    bottom: 50%;
    flex-direction: column;
    width: fit-content;
}

/*** Overlay Icons ***/

.card__icon-wrapper {
    width: fit-content;
    border: 3px solid red;
    background-color: slateblue;
}

.card__icon {
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid green;
    border-radius: 50%;
    background-color: rgba(var(--rich-black));
}

.card__icon--role {
    width: 4.5rem;
    height: 4.5rem;
}

/***** Card Text Wrappers & Elements *****/

.card__title-wrapper {
    display: flex;
    align-items: center;
    height: 3.5rem;
    border-bottom: 2px solid rgba(var(--rich-black));
    background-color: rgba(var(--silver-chalice), 0.8);
}

.card__title {
    padding: 0 1rem 0 4.5rem;
    font-weight: bold;
    font-size: 1.2rem;
}

.card__category {
    text-align: center;
    border: 1px solid rgba(var(--rich-black));
}

.card__category--heading {
    text-transform: uppercase;
    font-size: 0.6rem;
    font-weight: normal;
}

.card__category--text {
    font-size: clamp(5px, 0.8rem, 12px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card__footer-date {
    font-size: 0.8rem;
    padding-right: 3rem;
    text-align: right;
}
