:root {
    /* --- Color Variables --- */
    --indigo-dye: 3, 60, 84;
    --magenta-haze: 159, 47, 107;
    --middle-red: 255, 143, 112;
    --rich-black: 10, 10, 10;
    --silver-chalice: 173, 173, 173;
}

/***** Pagination *****/

.row__pagination {
    justify-content: center;
    padding: 1rem 0;
}

.page-numbers {
    margin: 0 0.5rem;
    padding: 0.5rem;
    border: 1px solid rgb(var(--indigo-dye));
    border-radius: 5px;
    color: rgb(var(--indigo-dye));
    font-weight: bold;
    text-decoration: none;
}

.page-numbers:hover {
    border: 1px solid rgb(var(--middle-red));
    color: #fff;
    background-color: rgb(var(--middle-red));
}

.page-numbers.current {
    border: 1px solid rgb(var(--indigo-dye));
    color: #fff;
    background-color: rgb(var(--indigo-dye));
}

/***** Main Card Layout *****/

.col__card {
    padding: 2rem 0.5rem;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    height: 625px;
    margin: 0 auto;
    padding: 8px;
    border-radius: 50px;
    background-color: rgba(var(--rich-black));
}

.card__mat {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 98%;
    height: 98%;
    padding: 8px;
    border: 4px solid rgb(var(--magenta-haze));
    border-radius: 50px;
    background-color: rgba(var(--magenta-haze), 0.66);
}

.card__body {
    width: 98%;
    height: 98%;
    border: 4px solid goldenrod;
    border-radius: 50px;
    overflow: hidden;
    background-color: #fff;
}

.card__body * {
    width: 100%;
}

/***** Card Base Sections *****/

.card__hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
    overflow: hidden;
    background-position: center;
    background-size: cover;
}

.card__btn {
    padding: 1rem 0;
    color: #fff;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    background-color: rgba(var(--indigo-dye), 0.85);
    transition: background-color 0.2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

.card__btn:hover {
    color: #fff;
    cursor: pointer;
    background-color: rgba(var(--middle-red), 1);
}

.card__summary {
    height: 30%;
    padding: 1rem;
}

/* Note: categories flex direction toggled with JS */
.card__categories {
    display: flex;
    height: 10%;
    border-top: 2px solid goldenrod;
    color: #0a0a0a;
    background-color: goldenrod;
}

/***** Card Overlay Content *****/

.card__overlay {
    position: absolute;
}

.card__overlay--role {
    display: flex;
    top: 0;
    left: 0;
    flex-direction: column;
    width: fit-content;
}

.card__overlay--languages {
    gap: 4px;
    display: flex;
    right: 0;
    bottom: 50%;
    flex-direction: column;
    width: fit-content;
}

/*** Overlay Icons & Tooltips ***/

.card__icon-wrapper {
    position: relative;
    width: fit-content;
}

.card__icon {
    width: 3rem;
    height: 3rem;
    border: 4px solid goldenrod;
    border-radius: 50%;
}

.card__icon--role {
    width: 5rem;
    height: 5rem;
}

.card__icon-wrapper--technology {
    margin-top: -1rem;
}

/* Hover & Focus States */
.card__icon-wrapper:hover .card__tooltip--right,
.card__icon-wrapper:hover .card__tooltip--left,
.card__icon-wrapper:focus-within .card__tooltip--right,
.card__icon-wrapper:focus-within .card__tooltip--left {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.card__tooltip {
    opacity: 0;
    visibility: hidden;
    z-index: 10;
    position: absolute;
    top: 30%;
    width: fit-content;
    padding: 0.5rem 1rem;
    border: 1px solid rgb(var(--indigo-dye));
    border-radius: 10px;
    font-size: 0.8rem;
    letter-spacing: 0.5px;
    white-space: nowrap;
    pointer-events: none;
    background-color: #fff;
    transition:
        opacity 0.2s ease,
        transform 0.2s ease;
    transform: translateX(10%) translateY(10%);
}

.card__tooltip--right {
    left: 80%;
    width: 280px;
    white-space: normal;
}

.card__tooltip--left {
    right: 80%;
}

.card__tooltip--value {
    margin-bottom: 0.25rem;
    font-weight: bold;
}

/***** Card Text Wrappers & Elements *****/

.card__title-wrapper {
    display: flex;
    align-items: center;
    height: 3.5rem;
    background-color: rgba(218, 165, 32, 0.95);
}

.card__title {
    padding: 0.5rem 1rem 0.5rem 4.5rem;
    font-weight: bold;
    font-size: 1rem;
}

/* Title - avg mobile styles (< 480px) */
@media (max-width: 479px) {
    .card__title {
        font-size: 0.9rem;
    }
}

/* Title - small mobile styles (< 400px) */
@media (max-width: 399px) {
    .card__title {
        font-size: 0.8rem;
    }
}

.card__category {
    display: flex;
    flex: 1 1 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Note: headings size toggled with JS */
.card__category--heading {
    font-weight: normal;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.card__category--text {
    overflow: hidden;
    font-size: 0.8rem;
    font-size: clamp(5px, 0.8rem, 12px);
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card__footer-date {
    padding-right: 3rem;
    font-size: 0.8rem;
    text-align: right;
}

/* Hide scrollbar on summary */
.card__summary p {
    scrollbar-width: none;
    height: 100%;
    overflow-y: scroll;
}

.card__summary p::-webkit-scrollbar {
    display: none;
}
