:root {
    --rich-black: 10, 10, 10;
    --indigo-dye: 3, 60, 84;
    --silver-chalice: 173, 173, 173;
    --middle-red: 255, 143, 112;
    --magenta-haze: 159, 47, 107;
}

/*** Main Card Layout ***/
.card {
    background-color: rgba(var(--rich-black));
}

.card__mat {
    background-color: rgba(var(--silver-chalice));
    padding: 0.5rem;
    border-radius: 50px;
    border: 5px solid rgba(var(--magenta-haze));
    height: 100%;
}

.card__body {
    background-color: rgba(var(--indigo-dye));
    padding: 1.5rem;
    border-radius: 50px;
    border: 5px solid rgba(var(--magenta-haze));
    height: 600px;
}

/*** Card Base Sections ***/

.card-hero {
    background-color: aqua;
    width: 100%;
    overflow: hidden;
}

.card-hero__img {
    width: 100%;
    object-fit: cover;
}

.card-summary {
    background-color: chocolate;
}

.card-footer {
    background-color: darkorchid;
}

/*** Card Overlay Sections ***/

.overlay__title-container {
    background-color: gold;
}

.overlay__language-container {
    background-color: indianred;
}

.overlay__category-container {
    background-color: lightpink;
}

/*** Card Icons ***/

.card-icon__wrapper {
    border: 3px solid red;
    background-color: slateblue;
}

.card-icon {
    border: 1px solid green;
    background-color: peachpuff;
    height: 50px;
    width: 50px;
}
