:root {
    --rich-black: 10, 10, 10;
    --indigo-dye: 3, 60, 84;
    --silver-chalice: 173, 173, 173;
    --middle-red: 255, 143, 112;
    --magenta-haze: 159, 47, 107;
}

/*** Main Card Layout ***/
.card {
    background-color: rgba(var(--rich-black));
    height: 600px;
    width: 400px;
    padding: 8px;
    border: 2px solid blue;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.card__mat {
    background-color: burlywood;
    padding: 8px;
    border: 2px solid blue;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98%;
    width: 100%;
}

.card__body {
    background-color: cadetblue;
    padding: 8px;
    border: 2px solid blue;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
    height: 98%;
    width: 100%;
}

/*** Card Base Sections ***/

.card-hero {
    background-color: crimson;
    border: 2px solid pink;
    width: 100%;
    overflow: hidden;
    height: 60%;
    background-size: cover;
    background-position: center;
}

.card-summary {
    width: 100%;
    background-color: chocolate;
    border: 2px solid red;
}

.card-footer {
    width: 100%;
    background-color: darkorchid;
    padding: 8px;
}

/*** Card Overlay Sections ***/

.card-overlay {
    background-color: darkgray;
    border: 2px solid yellow;
    position: absolute;
}

/*** Card Icons ***/

.card-icon__wrapper {
    border: 3px solid red;
    background-color: slateblue;
}

.card-icon {
    border: 1px solid green;
    background-color: peachpuff;
    height: 50px;
    width: 50px;
}
